@import helper._

@(problemForm: Form[ProblemForm])(implicit messages: Messages)

@main("Problem Generator") {
@defining(play.core.PlayVersion.current) { version =>

<section id="content">
    <div class="wrapper doc">
        <article>
        <h2>Problem Generator</h2>

            @form(action = routes.HomeController.problemFormPost()) {
                @inputText(form("problemTypeOneTracing"))
                @inputText(form("numberOfProblemTypeOne"))
        
                <input type="submit" value="Submit">
            }
            
            <!--
            <form action="" method="">
                <input type="checkbox" id="" name="" value="">
                <label for="vehicle1"> Problem Type 1</label><br>
                <input type="checkbox" id="" name="" value="">
                <label for="vehicle2"> Problem Type 2</label><br>
                <input type="checkbox" id="" name="" value="">
                <label for="vehicle3"> Problem Type 3</label><br>
                <input type="submit" value="Submit">
            </form>-->

            <!--
            <label for="problem-types">Choose a problem type:</label>

            <select name="problem-types" id="problem-types">
                <option value="">Problem Type 1</option>
                <option value="">Problem Type 2</option>
                <option value="">Problem Type 3</option>
                <option value="">Problem Type 4</option>
            </select>-->
        </article>
        <aside>
            @commonSidebar()
        </aside>
    </div>
</section>

}
}